@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    background: #FFF5EE;
    color: #2F4F4F;
}

.col-2 a, .col-4 a{
    text-decoration: none;
    color: #2F4F4F;
    /* background: #FFFFFF; */
}

.col-4 a h4{
    font-size: 18px;
}

.col-2 p, .col-4 p{
    font-size: 18px;
    color: #2F4F4F;
    /* background: #FFFFFF; */
}

.page-btn a span{
    background: #FFF5EE;
}

.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.small-container{
    max-width: 1250px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 390px;
    color: #FFFFFF;
}

.row-3 {
    justify-content: space-between;
    margin: 100px auto 45px;
}
  
select {
    border: 1px solid #2F4F4F;
    padding: 5px;
}
select:focus {
    outline: none;
}

.row-2{
    padding-bottom: 40px;
    /* padding-top: 135px; */
}

.col-2{
    flex-basis: 10%;
    min-width: 125px;
    height: 140px;
    padding: 10px;
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    background: #FFF5EE;
}

.col-2 img{
    max-width: 70px;
    height: 90px;
    background: #FFF5EE;
}

.col-2 a{
    background: #FFF5EE;
}

.col-2:hover{
    /* background: #FFFFFF; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* .col-2 img:hover,
.col-2 p:hover,
.col-2 a:hover{
    background: #FFFFFF;
} */

.col-2D{
    flex-basis: 10%;
    min-width: 125px;
    height: 140px;
    padding: 10px;
    /* border: 1px solid #C0C0C0; */
    border-radius: 20px;
    text-align: center;
    background: #FFFFFF;
    transition: box-shadow 0.3s ease;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

.col-2D img{
    max-width: 70px;
    height: 90px;
    background-color: #FFFFFF;
}

.col-2D p{
    background-color: #FFFFFF;
}

.col-2D a{
    background-color: #FFFFFF;
}

.col-2D:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.col-4{
    flex-basis: 25%;
    padding: 20px;
    min-width: 100px;
    max-width: 250px;
    height: 300px;
    margin-bottom: 50px;
    /* border: 1px solid #C0C0C0; */
    border-radius: 20px;
    text-align: center;
    background: #FFFFFF;
    position: relative;
}

.col-4 img{
    width: 100px;
    height: 180px;
    /* max-height: 75%; */
    background-color: #FFFFFF;
    margin: 5px;
}

.col-4 p{
    background-color: #FFFFFF;
    margin: 10px;
}

.col-4 h4{
    background-color: #FFFFFF;
}

.col-4 a{
    background-color: #FFFFFF;
}

.center-container {
    display: flex;
    justify-content: center;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn a{
    background: #FFF5EE;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #2F4F4F;
    border-radius: 20px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}